version: '3.8'

services:
  ifevent:
    container_name: alfnz89/saktievent
    image: alfnz89/saktievent
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    tty: true
    stdin_open: true
    volumes:
      - ./src:/app/src
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
