@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   font-family: 'Roboto', sans-serif;
   transition: all 0.3s ease-in-out;
}

.hero {
   background-image: url('./assets/bg.jpg');
   height: 455px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   padding-left: 40px;
}

/* .heroContent {
   background-color: rgba(255, 255, 255, 0.2);
} */

#course-photo {
   width: 272px;
   height: 154px;
   background-position: center;
   background-size: cover;
   border-radius: 0;
}

.box-price {
   border: 2px solid blue;
}

#history-category {
   font-size: 11px;
   border: 1px solid black;
   padding: 3px 6px;
   border-radius: 50px;
}

#history-more {
   border: 1px solid #ffd801;
}

.border-yellow {
   border: 1px solid #ffd801;
}